* {
  margin: 0px;
  padding: 0px;
}

:root {
  font-family: Firacode, Inter, Avenir, Helvetica, Arial, sans-serif;
  background-color: #282a36;
  font-size: 22px;
}

[id="-1:-1@-1"] {
  line-height: 0.5;
}

[id="-1:-1@-2"],
[id="-1:-1@-1"] pre {
  background-color: transparent;
  line-height: 1.4;
  text-align: left;
  display: inline-block;
  margin: 10px auto;
  padding: 50px;
}