html {
  margin: 0px;
  padding: 0px;
  background-color: #282a36;
}

.container {
  text-align: center;
}

.custom {
  background-color: transparent;
  text-align: left;
  display: inline-block;
  margin: 10px auto;
  padding: 50px;
}